
.App{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'calibri';
  font-size: 16px;
  color: #FE4400;
  font-weight: regular;
  text-decoration: none;
  
}

.container {
  display: none;
}

.spa-home-c{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.spa-home-logo-c img{
width: 400px;

}

.spa-home-right-c { 

  /* background-color: transparent; */
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  /* padding: 20px; */
  width: 30%;
  /* height: 350px; */
  /* border-radius: 10px; */
 
}

.spa-home-right-c h1{
  font-size: 30px;
  background: transparent;
  margin-bottom: 40px;
  color: #FE4400;
  text-align:left;
}

.spa-home-right-c h4{
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 10px;
  /* margin-right: 300px; */
  color: #303033;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;

}

/* .spa-home-right p{
  font-family: 'Montserrat';
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 220px;
  color: #000;
  text-align:left;
} */


.spa-home-right-c button:hover {
  background-color: #6063AC;
  color: #EFF2F5;
  cursor: pointer;
}

.dados{
  display: flex;
  flex-direction: column;
}

.logcol-options{
  display: flex;
   justify-content: space-between;
   width: 320px;
}

.logcol-options a{
  color: #FE4400;
}

.logcol-options label{
margin-left: 8px;
}

.logcol-options2{
  display: flex;
   justify-content: center;
   margin-top: 20px;
}

.logcol-options2 a{
  color: #FE4400;
}


@media(max-width: 994px){

.container {

  background:rgb(254, 68, 0);
  height: 100vh;
  width: 100vw;
  display: flex;    
  justify-content: center;
 
}

.spa-home-c{
  display: none;
}
 
.card{
  
/* padding: 1.5rem; */
flex-direction: column;
display: flex;
justify-content: center;

}

.dados{
  display: flex;
  flex-direction: column;
}

.figure{

  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logcol-options{
  display: flex;
   justify-content: space-between;
   
   color: #FE4400;
}

.logcol-options a{
    
   color: #FE4400;
}

.logcol-options label{
margin-left: 8px;
color: #FE4400;
}

.logcol-options2 a{
  display: flex;
   justify-content: center;
   margin-top: 20px;
   color: #FE4400;
}

}

/* .dados input{
  
  width: 200px;
  height: 35px;
  
  
  text-align: center;
  padding: .7rem .7rem;
  border: none;
  border-radius: 2rem;
  margin-bottom: .5rem;
  border: 1px solid #36357E;
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);

}

.dados #senha{
  
  margin-top: .5rem;

} */

/* .options{

  font-weight: 600; 
  margin-top: 1rem;
  display: flex; 
  justify-content: center; 
  
}


.options label{    
      
  margin-right: 40%;       
} */



/* .button{
  width: 170px;
  height: 35px;
  display: flex;
  justify-content: center;
}

button{

width: 170px;
height: 35px; 
margin-top: 2rem;
padding: .5rem .5rem;
width: 100%;
border: none;
border-radius: 2rem;
cursor: pointer;
background-color: rgb(54, 53, 126);
color: #fff;
transition: all .2 ease-out;


}

button :hover {

  background-color: #fff;
  color: rgb(54, 53, 126);;
} */