
*{
  margin: 0 auto;
}

.App{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'calibri';
  font-size: 16px;
  font-weight: regular;
  text-decoration: none; 
}

/* .container{
  display: none;
} */

.spa-home{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.spa-home-logo img{
width: 800px;
 border-radius: 50%;
/*border-bottom: 300px; */
/* margin-left: 80px; */
}

.spa-home-right { 

  /* background-color: transparent; */
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 30px;
  padding: 20px;
  width: 30%;
  /* height: 350px; */
  border-radius: 10px;
}

.spa-home-right h1{
  font-size: 35px;
  background: transparent;
  margin-bottom: 40px;
  color: #FE4400;
  text-align:left;
}

.spa-home-right h4{
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 10px;
  /* margin-right: 300px; */
  color: #303033;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;

}

/* .spa-home-right p{
  font-family: 'Montserrat';
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 220px;
  color: #000;
  text-align:left;
} */

.spa-home-right button:hover {
  background-color: #6063AC;
  color: #EFF2F5;
  cursor: pointer;
}

/* button {
  line-height: 25px;
}

button::before {
  content: {Bell};
} */


@media(max-width: 994px){

  .App{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'calibri';
    font-size: 1px;
    font-weight: regular;
    text-decoration: none;
  }

  .spa-home{
    display: none;
  }

  .home-container {
    
    background:#FFF;
    height: 100vh;
    width: 100vw;
    display: flex;    
    justify-content: center;
    
  }
  
  
  .home-card{
    
    height: 100vh;
    /* width: 100vw; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    
  }
  
  .figure img{
    
    display: flex;
    max-width: 187px;
    
  }
  
  img{
    
    max-width: 187px;
    margin-bottom: 56px;
  }
  
}
  
  