.warningModalBackground{
    width: 100vw;
    height: 100vh;
    background-color: rgba(49, 49, 49, 0.8);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}

.warning-figure{
    
    margin-bottom: 20px;
}

.warningModalContainer{
    width: 326px;
    height: 285px;
    border-radius: 16px;
    background-color: #ffffff;
    border: 1px solid #FAFAFA;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.warningModalContainer .title{
    display: inline-block;
    text-align: center;
    margin-top: 16px;
}

.warningModalContainer .body{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;

}

.warningModalContainer .footer{
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}