/*.header-fc{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 68px;
    background:#4b4fa1;
    
}

header .logo{
    margin-left:55px;
    margin-top: 4px;
    height: 34px
}

nav{
    margin-left: 152px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold ;
    border: none;
} 
header nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    background-color: transparent;
}

header nav a:hover{
    color:#AAA; ;
}
*/