.spa-home{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.spa-home-logo img{
  width: 680px;
  height: 500px;
  border-radius: 25px;
  border-bottom: 300px;
  margin-left: 100px;
}

.spa-home-right { 
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding: 20px;
    width: 500px;
    height: 350px;
    border-radius: 10px;
}

.spa-home-right h1{
    font-family: 'Montserrat';
    font-size: 35px;
    background: transparent;
    margin-bottom: 5px;
    color: #FE4400;
    text-align:left;
}

.spa-home-right h4{
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 150px;
    color: #303033;
    text-align: justify;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.spa-home-right p{
    font-family: 'Montserrat';
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 220px;
    color: #000;
    text-align:left;
}

.spa-home-right button {
    width:400px;
    height: 60px;
    align-items: left;
    background-color: #FC6027;
    color:#fff;
    font-weight:500;
    font-family: 'Montserrat';
    
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right:105px;
    border: none;
    outline-width: 0;
}

.spa-home-right button:hover {
    background-color: #6063AC;
    color: #EFF2F5;
    cursor: pointer;
}
