
.calendar-App{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'calibri';
  font-size: 1px;
  font-weight: regular;
  text-decoration: none; 
  width: 100vw;
  height: 100vh;
}

.calendar-container{
  display: none;
}

.calendar-web{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-top: 110px; */
}



.calendar-spa-home-logo img{
max-width: 400px;

}

.calendar-spa-home-right { 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
  height: 100vh;
}

.calendar-spa-home-right h1{
  font-size: 35px;
  background: transparent;
  margin-bottom: 15px;
  color: #FE4400;
  text-align:center;
}

.calendar-figure{
    
  display: flex;
  justify-content: center;
        
}

.calendar-text h4{
font-size: 20px;
font-weight: 700;
text-align: center;
color: #2a2a2a;;
margin-bottom: 20px;
}

.calendar-btn{
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.calendar-spa-home-right button:hover {
  background-color: #6063AC;
  color: #EFF2F5;
  cursor: pointer;
}

.solicita-calendar{
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  width: 100vw;
}

@media(max-width: 994px){

  .App{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'calibri';
    font-size: 16px;
    font-weight: regular;
    text-decoration: none;
    background-color: #EFF2F5; 
     
  }

  .calendar-web{
  display: none;
  }
  
  .calendar-spa-home{
    display: none;
  }

  .calendar-container {
    
    background:#FFF;
    height: 100vh;
    display: flex;    
    justify-content: center;
    
  }

   
  .calendar-card{
    
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    /* margin-top: 116px ; */
  }
  
  .calendar-figure{
    
    display: flex;
    justify-content: center;
    
        
  }

.calendar-text{
  margin-top: 116px ;
  margin-bottom: 24px;
  max-width: 327px;
  max-height: 80px;
  margin-left: 30px;
}

.calendar-text h4{
text-align: left;
}

.solicita-calendar{
  display: flex;
  /* width: 100vw; */
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
}

  
}
  
  