
.App{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'calibri';
  font-size: 1px;
  font-weight: regular;
  text-decoration: none;  
}

.cancagenda-container{
  display: none;
}

.cancagenda-spa-home{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}



.cancagenda-spa-home-logo img{
max-width: 800px;

}

.cancagenda-spa-home-right { 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 30px;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
}

.cancagenda-spa-home-right h1{
  font-size: 35px;
  background: transparent;
  margin-bottom: 15px;
  color: #FE4400;
  text-align:center;
}

.cancagenda-figure{
    
  display: flex;
  justify-content: center;
        
}

.cancagenda-text h4{
font-size: 16px;
text-align: center;
color: #2a2a2a;;
margin-bottom: 20px;
}

.cancagenda-btn{
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.cancagenda-spa-home-right button:hover {
  background-color: #6063AC;
  color: #EFF2F5;
  cursor: pointer;
}


@media(max-width: 994px){

  .App{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'calibri';
    font-size: 1px;
    font-weight: regular;
    text-decoration: none;  
  }

  .cancagenda-spa-home{
    display: none;
  }

  .cancagenda-container {
    
    background:#FFF;
    height: 100vh;
    width: 100vw;
    display: flex;    
    justify-content: center;
    
  }
  
  
  .cancagenda-card{
    
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    margin-top: 204.98px ;
  }
  
  .cancagenda-figure{
    
    display: flex;
    justify-content: center;
    
        
  }

.cancagenda-text{
  margin-top: 30.02px;
  margin-bottom: 24px;
  max-width: 327px;
  max-height: 80px;
}
  
.cancagenda-text h4{
  font-size: 16px;
  text-align: center;
  color: #2a2a2a;;
}
  
}
  
  