*{
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    /* margin: 0 auto; */
    font-weight: 600;
    list-style: none;
    text-decoration: none;
}


/* .NavbarItems{
   
    position: absolute;
    top: 20px ;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    justify-content: space-around;
    height: 60px;
    width: 100%;
} */

.NavbarItems{
    position: absolute;
    top: 20px;
    display: flex;
    /* align-items: center; */
    box-sizing: border-box;
    justify-content: space-evenly;
    width: 98%;
   
 }


.nav-links{
    
    box-sizing: border-box;
    background:transparent;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 35px;  
    /* padding: 30px 0;            */
    margin-left: 0 ;
    text-align: center;
  
}

.nav-link-item{
   
    text-decoration: none;
    color: #303033;
    background-color: transparent;
    font-size: 16px;
}

.nav-link-item:hover{
    color:#fc6027; 
    transition: all 0.2s ease-out;
}

/* .navbar-logo{
    
    margin-top: 20px;
    margin-left: 24px;
    display: flex;
    align-content: center;
        position: absolute;
        left: 20px;
        top: 0;
    width: 80px;
    height: 17.49px;
    margin-right: 20px;
} */

.navbar-logo{
    
    /* margin-top: 60px; */
    display: flex;
    position: absolute;
    left: 100px;
    top: 0;
    /* align-content: center; */
    /* width: 80px; */
    height: 17.49px;        
    justify-content: space-between;

    margin-right: 20px;
}


.menu-icon{
    display: none;
}

.nav-link-item-mobile{
    display: none;
}

.mobile-menu-icon{
    display: none;
}


@media(max-width: 1150px) {

    .NavbarItems{
       position: absolute;
       top: 64px;
       display: flex;
       /* align-items: center; */
       box-sizing: border-box;
       justify-content: space-between;
       width: 98%;
      
    }
    
    .nav-links{
        display: none;
    }

    .nav-links-mobile{
        
        display: flex;
        flex-direction: column;
        text-align: right;
        position: absolute;
        right: 10px;      
        background-color:#ffffff ;      
        top: 20px;
        opacity: 1;   
        width: 30%;
        height: 100vh;
                
    }

    .nav-link-item{
    font-size: 1.5rem;
    color: #fc6027;
    text-align: center;
    
    }

    .navbar-logo{
    
        /* margin-top: 60px; */
        display: flex;
        position: absolute;
        left: 20px;
        top: 0;
        /* align-content: center; */
        /* width: 80px; */
        height: 17.49px;        
        justify-content: space-between;

        margin-right: 20px;
    }
    

  
    .mobile-menu-icon{
        display: flex; 
        /* position:absolute;  */
        /* top : 15px;
        right: 15px;   */
        font-size: 30px;
        color: #fc6027;
        background-color: #fff;
        border: none;
        outline: none;
        justify-content: flex-end;
    }

    .mobile-menu-icon:hover{
        cursor: pointer;
    }

    .fas.fa-times{
        display: flex;
        text-align: right;
        position: absolute;
        right: 20px;           
        top: 0;        
    }
    
    .fas.fa-bars{
        display: flex;
        text-align: right;
        position: absolute;
        right: 20px;           
        top: 0;        
    }

}

@media(max-width: 990px){

    .nav-links-mobile{
        
        display: flex;
        flex-direction: column;
        text-align: right;
        position: absolute;
        right: 10px;      
        background-color:#ffffff ;      
        top: 20px;
        opacity: 1;   
        width: 100vw;
        height: 100vh;        
    }

    

}
