
.agnd-App{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'calibri';
  font-size: 1px;
  font-weight: regular;
  text-decoration: none;  
}

.agnd-container{
  display: none;
}

.agnd-spa-home{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}



.agnd-spa-home-logo img{
max-width: 800px;

}

.agnd-spa-home-right { 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 30px;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
}

.agnd-spa-home-right h1{
  font-size: 35px;
  background: transparent;
  margin-bottom: 15px;
  color: #FE4400;
  text-align:center;
}

.agnd-figure{
    
  display: flex;
  justify-content: center;
        
}

.agnd-text h4{
font-size: 20px;
font-weight: 700;
text-align: center;
color: #2a2a2a;;
margin-bottom: 20px;
}

.agnd-btn{
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.agnd-spa-home-right button:hover {
  background-color: #6063AC;
  color: #EFF2F5;
  cursor: pointer;
}

@media(max-width: 994px){


  .agnd-spa-home{
    display: none;
  }

  .agnd-container {
    
    background:#FFF;
    height: 100vh;
    display: flex;    
    
    
  }
  
  
  .agnd-card{
    
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    margin-top: 111px ;
  }
  
  .agnd-figure{
    
    display: flex;
    justify-content: center;
    
        
  }

/* .agnd-text{
} */
  
.agnd-text h4{
  font-size: 16px;
  text-align: center;
  color: #2a2a2a;;
}
  

.agenda{
  margin: 0 auto;
}

.agenda Button{
  text-align: left;
 
   
}
.agenda Button h2, h3{
  text-align: left; 
  margin-left: 17px;
}

.agenda Button h2{
font-size: 18px;
font-weight: 600;

}
.agenda Button h3{
font-size: 14px;
font-weight: 500;

}

}
  
  