.agnd-text h4{
  font-size: 16px;
  text-align: center;
  color: #2a2a2a;;
}
  
.agenda{
  margin: 0 auto;
  display: flex;
}


.agenda Button{
  text-align: left;
 
}
.agenda Button h2, h3{
  text-align: left; 
  margin-left: 17px;
}

.agenda Button h2{
font-size: 18px;
font-weight: 600;

}
.agenda Button h3{
font-size: 14px;
font-weight: 500;

}

.mes{
    display: flex;
    align-items: center;
}

.rolar-esquerda{
    margin-bottom: 40px;
    background-color: transparent;
    border:none;
}
.rolar-direita{
    margin-bottom: 40px;
    background-color: transparent;
    border:none;
}

.rolar-esquerda button{
    background-color: transparent;
    border:none;
    transform: rotate(180deg);    
}

.rolar-esquerda button:hover{
   cursor: pointer;   
}

.rolar-direita button{
    background-color: transparent;
    border:none;
}

.rolar-direita button:hover{
   cursor: pointer;   
}

.Carrossel{
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth ;
    justify-content: center;
}

.Carrossel h1{
    display: none ;
}

.carrossel-container h2{
font-size: 20px;
color: #2a2a2a;
}

.carrossel-container{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carrossel-container Button{
    text-align: left;
    
}

.agnd-container{
    width: 100vw;
}


.car-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.car-card Button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 16px;

}
.car-card h5{
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}


    .btn-agnd{
        display: flex;
        margin: 0 auto;
        padding: 0;
        justify-content: right;
        align-items: center;
        margin-left: 45px;
        /* width: 100vw; */
    }

    ul{
        margin: o auto;
        padding: 0
    }


    @media(max-width:940px) {
        
        .rolar-esquerda{
            margin-bottom: 25px;
            background-color: transparent;
            border:none;
        }
        .rolar-direita{
            margin-bottom: 25px;
            background-color: transparent;
            border:none;
        }

    }





